.containerM{
    padding: 15px 9%;
    padding-bottom: 100px;
}
.containerM .heading{
    text-align: center;
    padding-bottom: 55px;
}
.containerM .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    gap: 30px;
}
.box img{
    width:300px 
  
}
h3{
    color: purple;
    text-align: center;
}

.containerM .box-container .box{
 box-shadow: 0 5px 10px rgba(0,0,0,.5);
 border-radius: 7px;
padding: 30px 13px; 
}
.box:hover{
    transform: scale(1.02);
    
}
.containerM a{
    margin-top: 15px;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    
   
}
.containerM a:hover{
    color: blue;

   
}

@media (max-width:700px){
    .containerM{
        padding: 20px;
    }
   .box img{
    width: 240px;
   }
   
}

button{
    border: 2px solid  rgb(240, 92, 6);
    width: 70px;
    height: 30px;
    border-radius: 7px;
    background-color: rgb(240, 92, 6);
    font-size: larger;
    color: white;
    margin-left:110px ;
}
button:hover{
    background-color: greenyellow;
    border:2px solid greenyellow ;
    color: black;
}
